<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado de la busqueda</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" type="text/css" href="static/css/muestraTabla.css" th:href="@{/css/muestraTabla.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
</head>
<body>
<div class="wrapper fadeInDown">
<div id="formContent">
	<br/>	

<h3>Las materias que poseen el curso seleccionado son:</h3>
<br/><br/>	
<table class="table table-hover" >
	<th>Id Tema</th>
	<th>Nombre de la materia</th>
	<th>Id Curso</th>
	<tr th:each="tema :${listadoDeTemas}">
		<td th:text="${tema.idTema}"></td>
		<td th:text="${tema.nombreDelCurso}"></td>
		<td th:text="${tema.idCurso}"></td>
	</tr>
</table>
 
 </div>
 </div>
</body>
</html>